@model TurističkaAgencija.Models.Destinacija

@{
    ViewData["Title"] = "Edit";
}

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/Assets/images/about_background.jpg"></div>
    <div class="home_content">
        <div class="home_title">Destinacija / izmjena</div>
    </div>
</div>

<div class="contact" style="margin-top: 80px;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="contact_form_container">
                    <div class="row  justify-content-center" style="padding-bottom: 30px; margin-top: -30px;">
                        <div class="contact_title"><span class="text-warning">@ViewBag.PonudaNaziv</span></div>
                    </div>

                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="DrzavaId" class="control-label" style="color: white;">Država</label>
                                    <select asp-for="DrzavaId" class="form-control" asp-items="ViewBag.DrzavaId"></select>
                                    <span asp-validation-for="DrzavaId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Grad" class="control-label" style="color: white;"></label>
                                    <input asp-for="Grad" class="form-control" />
                                    <span asp-validation-for="Grad" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Opis" class="control-label" style="color: white;"></label>
                            <textarea asp-for="Opis" class="form-control"></textarea>
                            <span asp-validation-for="Opis" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Slika" class="control-label" style="color: white;">Unesite link slike</label>
                            <input asp-for="Slika" class="form-control" />
                            <span asp-validation-for="Slika" class="text-danger"></span>
                        </div>
                        <div class="row  justify-content-center">
                            <div class="form-group">
                                <button type="submit" id="form_submit_button" class="form_submit_button button">Sačuvaj<span></span><span></span><span></span></button>
                                <a href="@Url.Action("List", "Destinacija")" class="btn btn-danger" style="margin-left: 10px; margin-top: 30px;">Odustani</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Assets/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Assets/js/contact_custom.js"></script>
}
