@model TurističkaAgencija.Models.RezervacijaKorisnici

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RezervacijaKorisnici</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RezervacijaId" />
            <input type="hidden" asp-for="KorisnikId" />
            <div class="form-group">
                <label asp-for="DatumRezervacije" class="control-label"></label>
                <input asp-for="DatumRezervacije" class="form-control" />
                <span asp-validation-for="DatumRezervacije" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
