@model TurističkaAgencija.Models.Rezervacija

@{
    ViewData["Title"] = "Create";
}

<h2>Rezervacija putovanja: <span class="text-primary">@Model.Ponuda.Naziv</span></h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PonudaId" />
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" id="postojeci" checked>Postojeći korisnik
                </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optradio" id="novi">Novi korisnik
                </label>
            </div>
            <div style="margin-bottom: 10px;"></div>
            <div id="korisnik">
                <partial name="ExistingUserPartial" />
            </div>
            
            <div class="form-group">
                <input type="submit" value="Rezerviši" class="btn btn-primary" />
                <a class="btn btn-outline-danger" asp-controller="Ponuda" asp-action="Index">Odustani</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    window.onload = function () {
        var postojeci = document.getElementById('postojeci');
        var novi = document.getElementById('novi');

        postojeci.onclick = function () {
            $("#korisnik").empty();
            $("#korisnik").load("ExistingUserPartial");
        }
        novi.onclick = function () {
            $("#korisnik").empty();
            $("#korisnik").load("NewUserPartial");
        }
    }   
</script>
}
