@model TurističkaAgencija.Models.Rezervacija

@{
    ViewData["Title"] = "Edit";
}

<h2>Izmjena ponude: <span class="text-primary">@ViewBag.PonudaNaziv</span> za korisnika: <span class="text-primary">@ViewBag.KorisnikIme</span></h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PonudaId" />
            <input type="hidden" asp-for="KorisnikId" />
            <div class="form-group">
                <label asp-for="DatumRezervacije" class="control-label">Datum rezervacije</label>
                <input asp-for="DatumRezervacije" class="form-control" />
                <span asp-validation-for="DatumRezervacije" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iznos" class="control-label"></label>
                <input asp-for="Iznos" class="form-control" readonly/>
                <span asp-validation-for="Iznos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("Index", "Rezervacija", new { ponudaId = Model.PonudaId})">Pregled rezervacija za ponudu: @ViewBag.PonudaNaziv</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
