@model TurističkaAgencija.Models.Rezervacija
<div class="form-group">
    <label asp-for="KorisnikId" class="control-label" style="color: white;">Odaberite korisnika</label>
    <select asp-for="KorisnikId" class="form-control" asp-items="ViewBag.KorisnikId"></select>
</div>
