@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="user_box_login user_box_link">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Izmijeni">Zdravo @User.Identity.Name!</a>
    </div>
    <div class="user_box_login user_box_link">
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Ponuda", new { area = "" })">
            <button type="submit" class="btn btn-sm btn-danger">Odjavi se</button>
        </form>
    </div>
}
else
{
    <div class="user_box_login user_box_link">
        <a asp-area="Identity" asp-page="/Account/Login">Prijavi se</a>
    </div>
    <div class="user_box_register user_box_link">
        <a asp-area="Identity" asp-page="/Account/Register">Registruj se</a>
    </div>
}