@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zaboravljena lozinka";
}

<div class="home">
    <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/Assets/images/about_background.jpg"></div>
    <div class="home_content">
        <div class="home_title">Admin / Zaboravljena lozinka</div>
    </div>
</div>

<div class="contact" style="margin-top: 80px;">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="contact_form_container">
                    <div class="row  justify-content-center" style="padding-bottom: 30px; margin-top: -30px;">
                        <div class="contact_title"><span class="text-warning">Promjena lozinke</span></div>
                    </div>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-primary"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email" style="color: white;"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-primary"></span>
                        </div>
                        <div class="row  justify-content-center">
                            <div class="form-group">
                                <button type="submit" id="form_submit_button" class="form_submit_button button">Pošalji<span></span><span></span><span></span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/Assets/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Assets/js/contact_custom.js"></script>
}